.svn/
*.d
*.o
*.crf
*.def
*.dep
*.bin
*.axf
*.lnp
*.sct
*.iex
*.htm
*.html
*.png
*.js
*.lst
*.map
*.hex
*.cesar
*.OBJ
*.obj
*.M51
*.__i
*.bak
559_.h
##########
Projects/JLink*
*.si4project/
obj/
*.uvgui.*
*uvopt